/**
* Footer module
*
*/

#footer {
    position: relative;
    padding: 26px 0 28px 0;
    text-align: center;
    color: $mako;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        min-width: 100%;
        height: 1px;
        content: "";
        background-color: #f4f4f4;
    }

    & > .wrap {
        // width: 340px;
        max-width: 1240px;
        margin: 0 auto;
        padding-left: 4px;

        @media #{$mobile} {
            padding-left: 0;
        }
    }

    & .footer-title {
        @include font(normal, 700, 11px, 22px, $gpbl);
        margin-bottom: 13px;
        text-transform: uppercase;
    }
}


.contacts {
    margin-bottom: 18px;

    & > .item {
        @include font(normal, 400, 18px, 30px, $gp);

        @media #{$mobile} {
            @include fsize(14px);
        }

        &-email {
            text-decoration: none;
            color: $claret;
            transition: all .3s ease-out;

            &:hover {
              text-decoration: underline;
              color: $mako;
            }
        }
    }
}


.socials {
    width: 147px;
    margin: 0 auto 28px;
    @include clearfix;

    & > .item {
        position: relative;
        display: block;
        float: left;
        width: 41px;
        height: 40px;
        margin-right: 8px;
        transition: .3s linear;
        border: 2px solid #dbdbdb;
        border-radius: 50%;

        &:hover {
            border: 2px solid #4a6bb8;

            & .icon-socials {
                fill: #4a6bb8;
            }
        }

        &:first-child {
            margin-left: 6px;
        }

        &:last-child {
            margin-right: 0;
        }

        & .icon-socials {
            position: absolute;
            top: 50%;
            left: 50%;
            transition: .3s linear;
            transform: translate(-50%, -50%);
            fill: #dbdbdb;

            &.fb {
                width: 5px;
                height: 12px;
            }

            &.tw {
                width: 15px;
                height: 11px;
            }

            &.in {
                width: 12px;
                height: 13px;
            }
        }
    }
}


.copyright {
    @include font(normal, 400, 12px, 16px, $gp);

    & span {
        @include font(normal, 700, 12px, 16px, $gpbo);
    }
}


@media all and (-ms-high-contrast:none), (-ms-high-contrast: active) {

  /* IE10 */
  .icon-socials { transition: 0 !important; }

  .icon-socials.fb { background: url('../img/sprite.png') 0 -228px; }
  .socials .item:hover .icon-socials.fb { background-position: 0 -206px; }

  .icon-socials.tw { background: url('../img/sprite.png') 0 -139px; }
  .socials .item:hover .icon-socials.tw { background-position: 0 -118px; }

  .icon-socials.in { background: url('../img/sprite.png') 0 -183px; }
  .socials .item:hover .icon-socials.in { background-position: 0 -160px; }

  .logo-icon { background: url('../img/logo.png') 0 0; }

  .playback-arrow { background: url('../img/sprite.png') 0 -52px; }

  .play-feedbacks { background: url('../img/sprite.png') 0 -30px; }

  .reload-icon { background: url('../img/sprite.png') no-repeat 0 0;  }

  .btn-header-arrow { background: url('../img/sprite.png') no-repeat 0 -690px;  }
  .btn:hover { background: #ccc; }
  .btn .btn-header-arrow:hover { background: url('../img/sprite.png') no-repeat 0 -722px !important; }

  .turn-title-arrow { background: url('../img/sprite.png') no-repeat 0 -658px;  }


  .icon-services { transition: 0 !important; }
  .services-01 { background: url('../img/sprite.png') no-repeat 0 -607px;  }
  .services-01:hover { background: url('../img/sprite.png') no-repeat 0 -556px;  }
  .services-02 { background: url('../img/sprite.png') no-repeat 0 -505px; width: 42px !important; height: 42px !important;}
  .services-02:hover { background: url('../img/sprite.png') no-repeat 0 -453px;  }
  .services-03 { background: url('../img/sprite.png') no-repeat 0 -403px;  }
  .services-03:hover { background: url('../img/sprite.png') no-repeat 0 -354px;  }
  .services-04 { background: url('../img/sprite.png') no-repeat 0 -302px; width: 42px !important;}
  .services-04:hover { background: url('../img/sprite.png') no-repeat 0 -250px;  }

  .main-menu .link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    bottom: 0px;
    background-color: $claret;
    opacity: 0;
    transition: 0 !important;
  }

  .main-menu .link:hover::before {
    bottom: -5px;
    width: 100%;
    opacity: 1;
  }
  /* eof IE10 */

  /* IE11 */
  *::-ms-backdrop, .icon-socials { transition: 0 !important; }

  *::-ms-backdrop, .icon-socials.fb { background: url('../img/sprite.png') 0 -228px; }
  *::-ms-backdrop, .socials .item:hover .icon-socials.fb { background-position: 0 -206px; }

  *::-ms-backdrop, .icon-socials.tw { background: url('../img/sprite.png') 0 -139px; }
  *::-ms-backdrop, .socials .item:hover .icon-socials.tw { background-position: 0 -118px; }

  *::-ms-backdrop, .icon-socials.in { background: url('../img/sprite.png') 0 -183px; }
  *::-ms-backdrop, .socials .item:hover .icon-socials.in { background-position: 0 -160px; }

  *::-ms-backdrop, .logo-icon { background: url('../img/logo.png') 0 0; }

  *::-ms-backdrop, .playback-arrow { background: url('../img/sprite.png') 0 -52px; }

  *::-ms-backdrop, .play-feedbacks { background: url('../img/sprite.png') 0 -30px; }

  *::-ms-backdrop, .reload-icon { background: url('../img/sprite.png') no-repeat 0 0;  }

  *::-ms-backdrop, .btn-header-arrow { background: url('../img/sprite.png') no-repeat 0 -690px;  }
  *::-ms-backdrop, .btn:hover { background: #ccc; }

  *::-ms-backdrop, .turn-title-arrow { background: url('../img/sprite.png') no-repeat 0 -658px;  }


  *::-ms-backdrop, .icon-services { transition: 0 !important; }
  *::-ms-backdrop, .services-01 { background: url('../img/sprite.png') no-repeat 0 -607px;  }
  *::-ms-backdrop, .services-01:hover { background: url('../img/sprite.png') no-repeat 0 -556px;  }
  *::-ms-backdrop, .services-02 { background: url('../img/sprite.png') no-repeat 0 -505px; width: 42px !important; height: 42px !important;}
  *::-ms-backdrop, .services-02:hover { background: url('../img/sprite.png') no-repeat 0 -453px;  }
  *::-ms-backdrop, .services-03 { background: url('../img/sprite.png') no-repeat 0 -403px;  }
  *::-ms-backdrop, .services-03:hover { background: url('../img/sprite.png') no-repeat 0 -354px;  }
  *::-ms-backdrop, .services-04 { background: url('../img/sprite.png') no-repeat 0 -302px; width: 42px !important;}
  *::-ms-backdrop, .services-04:hover { background: url('../img/sprite.png') no-repeat 0 -250px;  }

  *::-ms-backdrop, .main-menu .link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    bottom: 0px;
    background-color: $claret;
    opacity: 0;
    transition: 0 !important;
  }

  *::-ms-backdrop, .main-menu .link:hover::before {
    bottom: -5px;
    width: 100%;
    opacity: 1;
  }
  /* eof IE11 */
}
