/* === Footer module === */

.footer {
    position: relative;
    padding-top: 26px;
    padding-bottom: 28px;
    text-align: center;
    color: $mako;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 1px;
        content: "";
        background-color: #f4f4f4;
    }

    & > .wrap {
        width: 340px;
        max-width: 1240px;
        margin: 0 auto;
        padding-left: 4px;
    }

    &-title {
        font-family: $gpbl;
        @include font-size(11px)
        line-height: 22px;
        margin-bottom: 13px;
        text-transform: uppercase;
    }
}

.contacts {
    margin-bottom: 18px;

    & > .item {
        font-family: $gp;
        @include font-size(18px)
        line-height: 30px;

        &-email {
            text-decoration: none;
            color: $claret;
        }
    }
}

.socials {
    width: 147px;
    margin: 0 auto;
    margin-bottom: 28px;
    @include clearfix;

    & > .item {
        position: relative;
        display: block;
        float: left;
        width: 41px;
        height: 40px;
        margin-right: 8px;
        transition: .3s linear;
        border: 2px solid #dbdbdb;
        border-radius: 50%;

        &:hover {
            border: 2px solid #4a6bb8;

            & .icon-socials {
                fill: #4a6bb8;
            }
        }

        &:first-child {
            margin-left: 6px;
        }

        &:last-child {
            margin-right: 0;
        }

        & .icon-socials {
            position: absolute;
            top: 50%;
            left: 50%;
            transition: .3s linear;
            transform: translate(-50%, -50%);
            fill: #dbdbdb;

            &.fb {
                width: 5px;
                height: 12px;
            }

            &.tw {
                width: 15px;
                height: 11px;
            }

            &.in {
                width: 12px;
                height: 13px;
            }
        }
    }
}

.copyright {
    @include font-size(12px)
    line-height: 16px;

    & span {
        font-family: $dpbo;
        font-weight: 700;
    }
}
