/**
* Header module
*
*/

.wrapper {
  overflow: hidden;

  @media #{$tablet} {
      min-width: 700px;
  }

  @media #{$mobile} {
      min-width: 320px;
  }
}

#header {
    background: rgba(245, 245, 245, 1) url("../img/bg_header.jpg") no-repeat center top;
    background-color: #f5f5f5;
    transition: .7s ease;

    @media #{$tablet} {
        background-size: cover;
    }

    @media #{$mobile-tablet} {
        background-size: 600px auto;
        background-position: center bottom;
    }

    & .wrap {
        max-width: 1120px;
        margin-right: auto;
        margin-left: auto;
    }
}


.top-nav {
    padding: 47px 0 0 5.35%;
    @include clearfix;
    transition: .7s ease;

    @media #{$tablet} {
        margin-right: 20px;
    }

    @media #{$mobile} {
        margin-right: 0px;
        padding: 25px 25px 5px 25px;
    }

    & .left {
        float: left;
    }
    & .right {
        @include clearfix;
        float: right;
        white-space: nowrap;
    }

    & .logo {
        display: block;
        margin: 0 0 0 -2px;

        @media #{$mobile} {
            margin: 25px 0 0 0;
        }

        &-icon {
            width: 110px;
            height: 51px;
            fill: $freshEggplant;
            stroke: $freshEggplant;
        }
    }

    & .lang {
        float: right;

        @media #{$mobile} {
            clear: both;
        }

        & > .link {
            @include font(normal, 700, 11px, 28px, $gpbl);
            position: relative;
            display: block;
            margin: 6px -1px 0 0;
            padding: 2px 13px 0 35px;
            text-decoration: none;
            color: $claret;
            border: 2px solid $iron;
            border-radius: 30px;
            cursor: pointer;

            &:hover {

              &::before {
                background-color: $mako;
              }
            }

            &::before {
                position: absolute;
                top: 50%;
                left: 8px;
                width: 18px;
                height: 18px;
                content: "";
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: $iron;
                transition: .3s ease-out;
            }
        }
    }
}


.main-menu {
    float: left;
    @include font(normal, 400, 12px, 30px, $gpm);
    margin: 9px 90px 0 0;
    text-transform: uppercase;
    transition: .7s ease;

    @media #{$tablet} {
        margin-right: 10px;
    }

    @media #{$mobile} {
        margin: 0;
        text-align: right;
    }

    & ul {
        font-size: 0;
        @include list;
        overflow: visible;

        & li {
            @media #{$mobile} {
                display: block;
            }
        }
    }

    & li {
        @include font-size(12px)
        display: inline-block;
        vertical-align: top;

        & > .link {
            position: relative;
            margin-right: 30px;
            text-decoration: none;
            color: $mako;

            @media #{$mobile} {
                margin-right: 0;
            }

            &:hover {
                color: $claret;

                &::before {
                  left: 0;
                  bottom: -5px;
                  width: 100%;
                  opacity: 1;
                }
            }

            &.current-menu-item {
                color: $claret;

                &::before {
                  display: none;
                }
            }
            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0px;
              background-color: $claret;
              opacity: 0;
              transition: all .3s;
              left: 50%;
            }
        }
    }
}


.slider {
    position: relative;
    margin-bottom: 29px;
    padding: 0 0 60px 60px;

    @media #{$tablet} {
        padding-left: 40px;
    }

    @media #{$mobile} {
        padding: 0 20px 20px 20px;
    }

    &-item {
        @include clearfix;

        .playback {
            position: absolute;
            top: 183px;
            left: 50%;
            width: 90px;
            height: 90px;
            cursor: pointer;
            transform: translateX(-45%) scale(1);
            border-radius: 50%;
            background-color: #fff;
            transition: .3s ease-out;

            &:hover {
                transform: translateX(-45%) scale(1.2);
            }

            @media #{$tablet} {
                width: 60px;
                height: 60px;
            }

            @media #{$mobile} {
                width: 50px;
                height: 50px;
                background-color: transparent;
                border: 4px solid #fff;
            }

            & .playback-arrow {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 17px;
                height: 21px;
                transform: translate(-50%, -50%);
                fill: none;
                stroke: $claret;
            }
        }
    }

    & .slogan {
        float: left;
        max-width: 480px;
        margin-top: 56px;

        @media #{$tablet} {
            max-width: 350px;
        }

        @media #{$mobile} {
            margin-top: 0;
        }

        & h1 {
            @include font(normal, 700, 30px, 35px, $gpbo);
            position: relative;
            margin-bottom: 55px;
            padding-right: 100px;
            transition: .7s ease;

            @media #{$tablet} {
                @include fsize(20px);
                margin-bottom: 35px;
                padding-right: 70px;
            }

            @media #{$mobile} {
                @include fsize(18px);
                line-height: 28px;
                margin-bottom: 35px;
                padding-right: 70px;
            }

            &::after {
                position: absolute;
                bottom: -28px;
                left: 0;
                width: 40px;
                height: 2px;
                content: "";
                background-color: $claret;
                transition: .7s ease;

                @media #{$tablet} {
                    bottom: -18px;
                }

                @media #{$mobile} {
                    bottom: -12px;
                }
            }
        }

        & p {
            @include font-size(15px)
            line-height: 24px;
            margin-bottom: 24px;
            padding-right: 20px;
            color: #414252;
            transition: .7s ease;

            @media #{$tablet} {
                font-size: 13px;
                padding-right: 125px;
            }

            @media #{$mobile} {
                font-size: 11px;
                line-height: 18px;
                padding-right: 30%;
            }

            & strong {
                font-family: $gpbo;
            }

            &:last-of-type {
                margin-bottom: 54px;

                @media #{$mobile} {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

.btn {
    @include font(normal, 700, 11px, 30px, $gpbl);
    position: relative;
    display: inline-block;
    width: 178px;
    padding: 7px 0;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: $claret;
    transition: .3s ease-out;
    z-index: 5;
    border: 3px solid $claret;


    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      visibility: hidden;
      opacity: 0;
      border-radius: 50px;
      transition: background-color .3s,box-shadow .3s;
      animation-name: e;
      animation-duration: .65s;
      border: 3px solid #fff;
    }

    &:hover {
      box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .15);
      border: 3px solid #fff;
      background-color: #fff;
      color: $claret;

      &::after {
        animation-name: btn-hover;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }

      & .btn-header-arrow {
        stroke: $claret;
        animation-name: rotate;
        animation-duration: .3s;
        animation-timing-function: linear;
      }

    }
    &:active {
      border: 3px solid rgba(40, 54, 69, .1);
      color: rgba(63, 65, 71, .8);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);

      & .btn-header-arrow {
        stroke: rgba(63, 65, 71, .8);
      }
    }

    &-header {
        padding-left: 24px;

        &-arrow {
            position: absolute;
            top: 50%;
            left: 12px;
            width: 22px;
            height: 22px;
            transform: translateY(-50%);
            transition: .3s ease-in-out;
            fill: none;
            stroke: #fff;
            stroke-width: 3px;
        }
    }

    &-order {
        width: 130px;
        padding: 3px 0 7px 0;
    }
}

@keyframes btn-hover {
    0% {
        transform: scale(.85) perspective(400px) rotateX(10deg)
    }
    0%,
    to {
        visibility: visible;
        opacity: 1
    }
    to {
        transform: scale(1) perspective(400px) rotateX(0deg)
    }
}

@keyframes rotate {
  from { transform: translateY(-50%) rotate(0deg);}
  to   { transform: translateY(-50%) rotate(360deg);}
}
