/**
* Variables module
*
*/

$claret         : #a70c5d;
$freshEggplant  : #970048;
$mako           : #3f4147;
$iron           : #dfdfe2;



$gp 	:	"GothamPro", Arial, Helvetica, sans-serif;
$gpm	:	"GothamPro-Medium", Arial, Helvetica, sans-serif;
$gpbl	:	"GothamPro-Black", Arial, Helvetica, sans-serif;
$gpbo	:	"GothamPro-Bold", Arial, Helvetica, sans-serif;
$babo   :   "BanderaPro-Bold", Arial, Helvetica, sans-serif;
$pdf   :   "PFDinDisplayPro-Regular", Arial, Helvetica, sans-serif;



@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font($style, $wt, $size, $lh, $ff) {
    font: $style $wt #{$size}/#{$lh} $ff;
    font-size: calculateRem($size);
}

@mixin list {
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li {
        display: inline-block;
        vertical-align: top;
    }
}
